
h1.heading-extra-margin-top, h2.heading-extra-margin-top, h3.heading-extra-margin-top, h4.heading-extra-margin-top, h5.heading-extra-margin-top, h6.heading-extra-margin-top {
	margin-top:1.2rem;
}

body{
    background: #f4f4f4;
}

.separatorBlue{
    height: 85px;
    width: 100%;
    background-color: #151e2d;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.separatorGold{
    height: 85px;
    width: 100%;
    background-color: #05386c;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

main#col-main {
    margin-left: 0;
    margin-top: 0;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #CEAB5D;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
 }

 .bg-dark {
    background-color: #04275f !important;
}

.bg-dark {
    /* background-color: #002f5e!important; */
    /* background: #4083ba; */
    /* background: #4083ba; */
    /* background-image: linear-gradient(to bottom, #002f5e, #002f5e, #002f5e, #002f5e, #002f5e, #053665, #0c3c6d, #124374, #1e5285, #2a6297, #3572a8, #4083ba); */
    /* background-image: linear-gradient(to bottom, #002f5e, #002f5e, #002f5e, #002f5e, #002f5e, #023363, #043768, #073b6d, #0d4478, #134e84, #18588f, #1d629b); */
    /* background-image: linear-gradient(to bottom, #141e2d, #132136, #10253f, #0d2848, #082b51, #062d56, #032f5c, #013161, #023364, #033466, #043669, #05386c); */
    background-image: linear-gradient(to bottom, #141e2d, #132136, #10253f, #0d2848, #082b51, #062d56, #032f5c, #013161, #023364, #033466, #043669, #05386c) !important;
}

.bg-light {
    background-color: #04275f !important;
}
:selection {
    color: #ffffff;
    background: none;
}

.navbar-brand img {
    padding-left: 55px;
    padding-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
    line-height: 45px;
}

#header-user-notification-click {
    padding: 20px 50px 20px 15px;
}

span.user-notification-count {
    top: 35px;
    right: 60px;  
}

#header-user-profile-click {
    padding: 23px 0px 10px 20px;
}



#header-user-profile {
    float: none; 
    position: relative; 
}

#header-user-profile-menu {
    left: 11px;
    margin-top: 10px;
}

#header-user-profile-menu ul li a:hover {
    color: #04275f;
    text-decoration: none;
    font-weight: 600;
    background: none;
}

#header-user-notification-click {
    padding: 20px 70px 20px 15px;
}

#header-user-notification-menu {
    right: 51px;
    margin-top: -5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.18);
    border: none;
}
#header-user-notification-menu h3 {
    color: #DA291C;
}

#header-user-notification-list {
    background: #04275f;
    background-image: linear-gradient(to top, #141e2d, #132136, #10253f, #0d2848, #082b51, #062d56, #032f5c, #013161, #023364, #033466, #043669, #05386c);
}

#header-user-notification-list li a:hover {
    color: #CEAB5D;
    text-decoration: none;
}

.custom-toggler.navbar-toggler {
    border-color: white;
    background: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px){

    .collapse.show {
        border-top: 2px solid white;
    }

    .navbar {
        border-radius: 35px;
    }

}


/*Effectifs page club*/

.display-team h3{
    position: absolute;
}
.player-profile-avatar__squad-number{
    position:absolute;
    top:50%;
    left:35%;
    transform:translate(-50%, -50%);
    color:#ff1541;
    font-family:"bebasneue",Helvetica,Arial,sans-serif;
    z-index:1;
    font-size:20px;
    font-size:10rem;
}
.player-profile-avatar--firstTeam .player-profile-avatar__squad-number{
    color:#ff1541
}

.player-profile-avatar{
    -ms-flex-item-align:start;
    align-self:flex-start;
    position:relative;
    margin-top:80px;
    margin-bottom:20px;
    display:none
}
@media screen and (min-width: 768px){
    .player-profile-avatar{
        display:block
    }
}

ul.dashboard-sub-menu li a {
    margin: 0px 40px 5px 0px;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 16px;
    padding-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    background: #04275f;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

ul.dashboard-sub-menu li a:hover {
    color: #CEAB5D;
    text-decoration: none;
}

ul.dashboard-sub-menu li:after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #CEAB5D;
}

ul.dashboard-sub-menu li.current a {
    color: #CEAB5D;
}
.form-group-invite-friends ::-webkit-scrollbar-thumb, ul#friends-activity-profiles li.friends-activity-profiles-more a, a.edit-profile-sidebar, ul.dashboard-sub-menu li.current a:after {
    background:#CEAB5D ;
}

h3.content-sidebar-sub-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/****** Section score ***********/

.fixture-item__crests {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.score-bar {
    background: #f8f9fa;
    min-width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 50px;
    min-height: 185px;
}

.matchs {
    display: flex;
}

.score-date{
    display: block;
}

.fixture-item__team-crest:first-child {
    margin-right: 0;
}

/****** Page Article ****/

#movie-detail-header-pro {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    background-color: white;
}

/****Tabs****/
.nav-tabs {
    border-bottom: 1px solid #04275f;
    margin-top: 40px;
    margin-bottom: 20px;
}
.nav-tabs a {
    color:#04275f;
}

/********************* Sidebar club infos ***************/


.infos-club {
    display: inline-grid;
}

.infos-club span {
    margin-left: 36px;
    margin: 15px;
    margin-left: 35px;
}




/*Custom Score Bar*/

#matchday-section{
    height: 385px;
    color: white;
    background-color: #151e2d;
    padding-top: 60px;
    position: relative;
    width: 100%;
    box-shadow: -2px 2px 26px 10px rgba(153,145,153,1);
}

#matchday-section::before {
   background: no-repeat 1%;
   background-size: contain;
   content: '';
   position: absolute;
   top: 2px;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.075;
}

.match-banner{
   display: inherit;
}

.infos{
    width: 100%;

}
.text-date{
   font-size: 30px;
}
.text-time{
   font-size:50px;
   margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    font-family: "Unica77-LL-TT",Helvetica,Arial,sans-serif;
}

.team-one img {
    width: 25%;
    left: 262px;
    bottom: 135px;
    position: relative;
}

.team-two img {
    width: 23%;
    position: relative;
    right: 263px;
    bottom: 140px;
}

.team-one-calendar img {
    width: 25%;
    left: 170px;
    bottom: 95px;
    position: relative;
}

.team-two-calendar img {
    width: 23%;
    position: relative;
    right: 170px;
    bottom: 95px;
}

span.match-type, span.text-lieu {
   display: block;
}

.text-lieu{

   font-family: 'Open-sans', sans-serif;
   font-size: 21px;
   font-weight: 700;
}

.team-one, .team-two, .infos {
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 768px){

   #matchday-section {
       height: 385px;
       color: white;
       background-color: #151e2d;
       padding-top: 125px;
       position: relative;
   }

   #matchday-section::before {
    background: no-repeat 49%;
   }

   .infos {
       width: 100%;
       margin-left: 13px;
   }

   .text-date {
       font-size: 14px;
   }

   .text-lieu {
       font-family: 'Open-sans', sans-serif;
       font-size: 10px;
       font-weight: 700;
   }

   .match-type {
       font-size: 13px;
   }

   .team-one img {
       width: 45%;
       margin-top: 57px;
       margin-right: 14px;
       left: 15px;
       position: absolute;
   }

   .team-one-text {
       max-width: 125px;
       text-align: left;
   }


   .team-two img {
       width: 22%;
       margin-top: 40px;
       position: relative;
       right: 73px;
       top: 24px;
   }

}

/***************** BUTTON ***********/

.sim-button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 25%;
    cursor: pointer;
    border-radius: 10px;
}

.sim-button a{
    color: white;
    text-decoration: none;
}

.button12 {
    color: rgba(255,255,255,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
    background: #04275f;
}

.button12 span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

/****************** LOGIN **********************/

#body-login{
    background-image: linear-gradient(to top, #004170, #235385, #3c669b, #5279b1, #688dc8, #749ad2, #81a6db, #8eb3e5, #97bbe3, #a1c2e1, #aec9de, #bccfdc);
}
#loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 25%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    z-index: 5;
  }
  
  #headerTitle{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
  }
  
  .log{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
    line-height: 15px;
    z-index: 999;
    
  }
  
  .log input{
    width: 80%;
    box-sizing: border-box;
      border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
  }
  
  .log input:focus{
     box-shadow: inset 0px -3px 0px 0px #04275f;
     outline: none;
  }
  
  .log input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }
  
  .log input:hover::-webkit-input-placeholder,
  .log input:focus::-webkit-input-placeholder{
    opacity: 0;
  }
  
  .log label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
  }
  
  .log button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: #04275f;
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  
  .log button:hover{
    background-color: #CEAB5D;
  }
  
  #button{
    padding-bottom: 1.5rem;
  }
 

  /******************************* NEXT MATCH  ***************************/

  .fixture-list {
    margin-top: 50px;
    width: 100%;
}

.fixture-item {
    background: #eef1f6;
    border-bottom: 2px solid #fff;
    position: relative;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px){
    .fixture-item {
        border-bottom: 1px solid #e9e9e9; 
    }
}
  
.fixture-item__content {
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0;
}

@media screen and (min-width: 768px){
    .fixture-item__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px){
    .fixture-item__content {
        display: -ms-flexbox;
        display: flex;
    }
} 

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .umbraco-forms-form form:after, .container:before, .umbraco-forms-form form:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.NextMatch-time{
    font-size:50px;
     margin-bottom: 25px;
     display: block;

 }

.fixture-item__details {
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px;
    text-align: center;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.15385;
    background: left 10px / 120px auto no-repeat transparent;
}

@media screen and (min-width: 768px){
    .fixture-item__details {
        margin: -20px 10px -20px -40px;
        padding: 20px 0 20px 40px;
        border-bottom: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.25;
        width: 32%;
    }
}

@media screen and (min-width: 1020px){
    .fixture-item__details {
        margin-left: -60px;
        padding-left: 60px;
    }
}

.fixture-item__results-mobile {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.23077;
    text-transform: uppercase;
}

@media screen and (min-width: 768px){
    .fixture-item__results-mobile {
        display: none;
    }
}

.fixture-item__results {
    display: none;
}

@media screen and (min-width: 768px){
    .fixture-item__results {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        width: 42%;
    }
}

@media screen and (min-width: 1020px){
    .fixture-item__results {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        width: 44%;
    }
}

@media screen and (min-width: 1300px){
    .fixture-item__results {
        width: 35%;
    }
}

.fixture-item__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 10px -15px -25px;
}

.btn-match{
    background: #DA291C;
}

@media screen and (min-width: 768px){
    .fixture-item__actions {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 0 0 0 10px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 23%;
    }
}

@media screen and (min-width: 1300px){
    .fixture-item__actions {
        width: 32%;
    }
}

@media screen and (min-width: 1020px){
    .fixture-item__actions {
        margin-left: 20px;
    }
}


/************************ Sponsor BAR *****************/

#sponsor-bar{
    /* background-color: #fff; */
    background-color: #ceab5d;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.footer-sponsors--primary {
    border-top: 1px solid #e9e9e9;
}

.footer-sponsors ul {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 60px;
}

@media (min-width: 768px){
    .footer-sponsors ul {
        min-height: 100px;
    }
}

.footer-sponsors ul li {
    float: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-sponsors li {
    display: inline-block;
}

.footer-sponsors a {
    display: block;
    padding: 0 10px;
    text-align: center;
}

@media (min-width: 768px){
    .footer-sponsors a {
        padding: 0 30px;
    }
}
u-blur-up {
    opacity: 0;
    transition: opacity 1000ms ease-out;
}

.u-blur-up.lazyloaded {
    opacity: 1;
}

@media (min-width: 768px){
    .footer-sponsors--primary img {
        height: 50px;
    }
}
.footer-sponsors--primary img {
    height: 45px;
}
.footer-sponsors img {
    display: inline-block;
}

#lower-footer{
    /* background: #04275f; */
    background-image: linear-gradient(to top, #141e2d, #132136, #10253f, #0d2848, #082b51, #062d56, #032f5c, #013161, #023364, #033466, #043669, #05386c);
}
#footer-pro {
    border-top: 1px solid rgba(0, 0, 0, 0.09) !important;
	margin-left: 0 !important; 
    background: #FFF !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999999;
}

.copyright-text-pro{
    color: #FFF;
}

